/* Layout row */

.mg-row {
  box-sizing: border-box;
  display: flex;

  .mg-col {
    //flex: 1;
    @for $i from 1 through 24 {
      &-#{$i} {
        width: calc((100% / 24) * #{$i}) ;
        box-sizing: border-box;
      }
    }
    &:last-child {
      margin-right: 0;
    }
  }

}
