/* Basic */
html {
  box-sizing: border-box;
  margin: 0;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background: $color-bg-primary;
  font-family: miranafont,Hiragino Sans GB,STXihei,Microsoft YaHei,SimSun,sans-serif;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  line-height: 1.3;
}

html, body {
  min-width: 320px;
}


@media screen and (max-width: 1680px) {

  body, input, select, textarea {
    font-size: 12pt;
  }

}

@media screen and (max-width: 1280px) {

  body, input, select, textarea {
    font-size: 12pt;
  }

}

@media screen and (max-width: 980px) {

  body, input, select, textarea {
    font-size: 12pt;
  }

}

@media screen and (max-width: 736px) {

  body, input, select, textarea {
    font-size: 12pt;
  }

}

@media screen and (max-width: 480px) {

  body, input, select, textarea {
    font-size: 12pt;
  }

}
.mg-main {
  box-sizing: border-box;
  display: block;
  padding: 20px;
  overflow: auto;
}




//滚动条
::-webkit-scrollbar {
  /*滚动条整体样式*/
  width: 6px; /*高宽分别对应横竖滚动条的尺寸*/
  height: 1px;
}

::-webkit-scrollbar-thumb {
  /*滚动条里面小方块*/
  border-radius: 10px;
  background-color: skyblue;
  background-image: -webkit-linear-gradient(
                  45deg,
                  rgba(255, 255, 255, 0.2) 25%,
                  transparent 25%,
                  transparent 50%,
                  rgba(255, 255, 255, 0.2) 50%,
                  rgba(255, 255, 255, 0.2) 75%,
                  transparent 75%,
                  transparent
  );
}

::-webkit-scrollbar-track {
  /*滚动条里面轨道*/
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  background: #ededed;
  border-radius: 10px;
}
