// 主色
$color-primary: #666699;

// 辅助色
$color-info: #909399;
$color-success: #67C23A;
$color-warning: #E6A23C;
$color-danger: #F56C6C;

// 文字
$color-text-main: #303133;
$color-text-normal: #606266;
$color-text-sub: #909399;
$color-text-placehoder: #C0C4CC;

// 边框
$color-border-1: #DCDFE6;
$color-border-2: #E4E7ED;
$color-border-3: #EBEEF5;
$color-border-4: #F2F6FC;

// 背景
$color-bg-primary: #FFFFFF;
$color-bg-su: #CCCCCC;
$color-bg-tu: #4949b6;

$color-red: #CC0033;
$color-pink: pink;
$color-blank: #FFFFFF;
$color-green: green;
$color-gray: gray;
$color-normal: #ccc;
$color-purple: #d3dce6;


